/* Cambiar el color del texto de los nombres de los días */
.fc-daygrid-day-number, .fc-event-title {
    color: white; /* Ajusta este color según necesites */
}

/* Cambiar el color de las líneas de borde */
.fc .fc-daygrid-day-frame, /* Bordes alrededor de cada día */
.fc .fc-scrollgrid-section, /* Bordes alrededor del encabezado de la sección y el cuerpo del calendario */
.fc .fc-col-header-cell { /* Bordes alrededor de los nombres de los días */
    border-color: #fdfdfd !important; /* Ajusta este color según necesites */
}



/* Ajustar el tamaño de la fuente para dispositivos móviles */
@media (max-width: 767px) {
    .fc-event-title, .fc-event-time {
        font-size: 14px; /* Ajusta el tamaño de la fuente para mejorar la legibilidad */
    }

    .btn-group{
        display: none;
    }
}

@media (max-width: 767px) {
    #myCustomToolbar .btn {
        font-size: 12px; /* Reduce el tamaño de la fuente para ahorrar espacio */
        padding: 5px 10px; /* Reduce el padding */
    }
}

.fc-event {
    overflow: visible !important; /* Asegura que el contenido pueda desbordarse */
    height: auto !important; /* Permite que el evento ajuste su altura basada en el contenido */
    font-size: 10px; /* Ajusta según necesidad para mejorar la legibilidad */
}

.fc-event-title {
    white-space: normal !important; /* Permite que los títulos de eventos pasen a nuevas líneas */
}


.sidebar-menu {
    position: fixed;
    left: -250px; /* Inicialmente oculto */
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #f4f4f4;
    transition: left 0.3s;
    z-index: 1000;
}

.sidebar-menu.open {
    left: 0; /* Muestra el menú */
}

.sidebar-menu .btn{
    margin-top: 30px;
}

#toggleMenu {
    display: none; /* Ocultar inicialmente y mostrar solo en móviles */
    /* Añade estilos adicionales según necesites */
}

/* Asegurar que solo se muestre en móviles */
@media (max-width: 767px) {
    #toggleMenu {
        display: block; /* Mostrar el botón en móviles */
    }

  
}

#toggleMenu {
    position: absolute; /* Posicionamiento absoluto con respecto a su contenedor relativo más cercano */
    top: 70px; /* Espacio desde la parte superior del calendario */
    left: 18px; /* Espacio desde la izquierda del calendario */
}

/* Ajustar la posición y visibilidad en dispositivos móviles */
@media (max-width: 767px) {
    #toggleMenu {
        display: block; /* Asegurarse de que el botón es visible en dispositivos móviles */
    }
}

#calendar {
    position: relative; /* Necesario para el posicionamiento absoluto del botón de menú */
    width: 100%;
}

.fc-event-title-container {
    white-space: normal; /* Permite que el texto pase a nuevas líneas */
    overflow: hidden; /* Oculta el texto que desborde el contenedor del evento */
    /* color: #60ff40; */
}

.fc-event {
    height: auto !important; /* La altura del evento se adapta al contenido */
    overflow: visible !important; /* Permite que el contenido se muestre incluso si es más grande que el contenedor */
}

.fc-event-time {
    font-weight: bold; /* Hace que la hora se destaque */
}

.fc-event-title{
    font-size: 0.85em; /* Ajusta el tamaño del título del evento */
    /* color: #60ff40; */
}


.add-event-btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1002; /* Asegúrate de que esté sobre otros elementos */
    border: none;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.342); /* Fondo gris claro con transparencia */
}


.add-event-btn img {
    width: 30px; /* O el tamaño que prefieras */
    height: auto;
}


@media (max-width: 767px) {
    .btn-group.btn-group {
        display: none;
    }
}


@media (max-width: 767px) {
    .fc-event-time {
        font-size: 10px; /* Reduce el tamaño del texto para pantallas pequeñas */
    }
}

@media (max-width: 767px) {
    .fc-event {
        margin: 1px; /* Reduce el espacio entre eventos */
    }
}

@media (max-width: 767px) {
    .fc-event {
        padding: 2px; /* Reduce el padding dentro de los eventos */
    }
}

.fc-daygrid-event {
    max-height: none; /* Elimina el máximo de altura si existe uno */
}

.fc-event-title {
    overflow: hidden; /* Esconde el texto que sobrepase del contenedor */
    text-overflow: ellipsis; /* Añade "..." al final del texto cortado */
    white-space: nowrap; /* Evita que el texto se pase a una nueva línea */
}


.fc-daygrid-day {
    overflow: hidden; 
    padding: 10px;
}






