body {
  background: linear-gradient(to bottom right, #0cad95, #bc0df1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-custom-green {
  color: #a0522d; /* Puedes ajustar este código de color según tus preferencias */
}

.cuerpo {
  margin: 2rem;
  /* background-color: rgba(0, 0, 0, 0.2); */
  border-radius: 5px;
}

img:hover{
  transform: scale(1.1);
  cursor: pointer;
}

/* .card:hover {
    background-color: rgba(255, 255, 255, 0.5) !important;
} */

img,
button,
.card {
  transition: transform 0.3s ease;
}

.tarjeta-alumno .card:hover {
  box-shadow: 0px 0px 40px 10px #f0dfcd3f;
  /* border: 1px solid rgba(255, 255, 255, 0.454);  */
  cursor: pointer;
}

.deudas-p, .detalles.card {
  width: 190px;
  background: #00ffa0;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.5vmin solid #05060f;
  box-shadow: 0.4rem 0.4rem #05060f;
  overflow: hidden;
  color: black;
  width: 100%;
}

.card.deudas, .detalles.card {
  background: #00ffa0;
  border: none;
}
